<div class="article-container see-through center">


  <span class="article-title title thicker"> Article: <%= @article.title %> </span>



  <span class="article-editor info thicker"> Author: <%= @article.editor.username %> </span>

  <div class="article-content content"><%= @article.content %></div>
  
  <div class="article-categories">

    <span class="subtitle thicker"> Categories: </span>

    <% @article.categories.each do |category| %>
      
      <span class="content thicker"> <%= link_to category.name, category_path(category) %> </span>

    <% end %>

  </div>

  <p class="edit-article info thicker"> <%= link_to 'Edit Article', edit_article_path(@article) %></p>

</div>