<div class="article-container see-through">


  <span class="article-title"> Article: <%= @article.title %> </span>



  <span class="article-editor"> Author: <%= @article.editor.username %> </span>

  <div class="content"><%= @article.content %></div>
  
  <div class="article-categories">

    <span class="category-title"> Categories: </span>

    <% @article.categories.each do |category| %>
      <span class="each-article-category"> <%= link_to category.name, category_path(category) %> </span>

    <% end %>

  </div>

  <p> <%= link_to 'Edit Article', edit_article_path(@article) %></p>

</div>