<%= form_for @version, url: articles_path do |f| %>
  <ul>
  <% @version.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title, :class => 'subtitle form-title' %><br />
    <%= f.text_field :title, :class => 'ckeditor form-title' %>
  </p>
  <p>
    <%= f.label :content, :class => 'subtitle form-content' %><br />
    <%= f.text_area :content, :class => 'ckeditor form-content' %>
  </p>

  <!-- Add category & sources functionality -->
  <!-- NOTE: LN: Use the all_sources similar to the versions form -->

  <div class="published-button subtitle">
    <%= f.label "Publish?" %> <br />
    <%= f.check_box :published %> <br />
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>


