<div class="articles-container see-through">
  <div class="title thicker" >All Articles</div>



  <%= search_form_for @search do |f| %>

    Search articles<br>
    <%= f.label :title %>
    <%= f.search_field :title_cont %>

    <%= f.submit %>

  <% end %>


<table id="articles">
  <tr>
    <th><%= sort_link @search, :title, "Title" %></th>
    <th><%= sort_link @search, :updated_at, "Last Update Date" %></th>
  </tr>
<% @articles.each do |article| %>
  <tr>
    <td> <a href="articles/<%= article.id %>"> <%= article.title %> </a></td>
    <td> <%= article.updated_at %></td>
  </tr>
<% end %>
</table>


  <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
</div>
