<div class="article-container see-through center">


  <span class="page-title title thicker"> Article: <%= @current_version.title %> </span>
  <span class="article-editor info thicker"> Author: <%= @current_version.editor.username %> </span>

  <% if current_user.clearance == "admin" %>
    <br><br>
    <span class="thicker"> Admin privileges: </span>
    <%= link_to "Delete", article_path(@current_version.article), method: :delete  %>
  <% end %>

  <div class="article-categories">

    <span class="info thicker"> Categories: </span>

    <% @current_version.categories.each do |category| %>

      <span class="content thicker"> <%= link_to category.name, category_path(category) %> </span>

    <% end %>

  </div>

  <div class="section content">

    <h2> Table of Contents: </h2>
    <ul>

      <% @sections.each do |section| %>

        <li><%= link_to section, article_path(@current_version.article, anchor: section) %></li>

      <% end %>
    </ul>

  </div>

  <div class="article-content content"><%= @current_version.content.html_safe %></div>

  <div class="article-comments content">

    <h2> Comments: </h2>
    <ul>

      <% @article_comments.each_with_index do |comment, index| %>

        <li><%= (index + 1).to_s %>: <%=comment.content.html_safe %></li>
        <li>Commentor: <%=comment.user.username %></li><br>

      <% end %>
    </ul>

    <% if current_user %>
      <p class="new-comment info thicker">
        <%= link_to 'New Comment', new_article_comment_path(@current_version.article_id)%>
      </p>

    <% else %>
      <p>Log in to comment!</p>
    <% end %>

  </div>

  <div class="sources">
    <span class="subtitle thicker">Sources:</span><br><br>
    <% @current_version.sources.each do |source| %>

      <span class="content thicker each-source"> <%= link_to source.url, "http://#{source.url}"%> </span><br>

    <% end %>

  </div>

  <% if current_user %>
    <p class="edit-article info thicker"> <%= link_to 'Edit Article', new_article_version_path(@current_version.article_id)%></p>
  <% else %>
    <br>
    <br>
    <br>
    <p>Log in to edit!</p>
    <img src="https://media.giphy.com/media/UQDmnGZNm9Blu/giphy.gif">
  <% end %>

  <p>See all previous versions of this article <%= link_to 'here', article_versions_path(@current_version.article_id)%></p>

</div>
