<div class="article-container see-through center">


  <span class="page-title title thicker"> Article: <%= @current_version.title %> </span>



  <span class="article-editor info thicker"> Author: <%= @current_version.editor.username %> </span>

  <div class="article-categories border-bot">

    <span class="info thicker"> Categories: </span>

    <% @current_version.categories.each do |category| %>

      <span class="content thicker"> <%= link_to category.name, category_path(category) %> </span>

    <% end %>

  </div>

  <div class="section content">

    <h2> Table of Contents: </h2>
    <ul>

      <% @sections.each do |section| %>

        <li> <a href="http://localhost:3000/articles/<%=@current_version.article_id.to_s%>#<%= section %>"> <%= section %> </a></li>

      <% end %>
    </ul>

  </div>

  <div class="article-content border-bot content"><%= @current_version.content.html_safe %></div>

  <div class="border-bot content">

    <h2 class="subtitle"> Comments: </h2>

      <% @article_comments.each_with_index do |comment, index| %>
        <div class="border-bot medium-width medium-pad">
          <span><%= (index + 1).to_s %>: <%=comment.content.html_safe %></span>
          <span>Commentor: <%=comment.user.username %></span><br>
        </div>
      <% end %>


    <% if current_user %>
      <p class="button subtitle">
        <%= link_to 'New Comment', new_article_comment_path(@current_version.article_id)%>
      </p>

    <% else %>
      <p>Log in to comment!</p>
    <% end %>

  </div>

  <div class="sources">
    <span class="subtitle thicker">Sources:</span><br><br>
    <% @current_version.sources.each do |source| %>

      <span class="content thicker each-source"> <%= link_to source.url, "http://#{source.url}"%> </span><br>

    <% end %>

  </div>

  <% if current_user %>
    <p class="edit-article info thicker"> <%= link_to 'Edit Article', new_article_version_path(@current_version.article_id)%></p>
    
  <% else %>
    <br>
    <br>
    <br>
    <p>Log in to edit!</p>
    <img src="https://media.giphy.com/media/UQDmnGZNm9Blu/giphy.gif">
  <% end %>

  <p>See all previous versions of this article <%= link_to 'here', article_versions_path(@current_version.article_id)%></p>

</div>
