<%= form_for [article, version] do |f| %>
  <ul>
  <% version.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title, :class => 'subtitle form-title' %><br />
    <%= f.text_field :title, :class => 'ckeditor form-title', :value => article.latest_version.title %>
  </p>
  <p>
    <%= f.label :content, :class => 'subtitle form-content' %><br />
    <%= f.text_area :content, :class => 'ckeditor form-content', :value => article.latest_version.content %>
  </p>

<!-- Would be nice to have the sources display better -->

  <p>
    <%= f.label :all_sources, :class => 'subtitle form-content' %>
    <%= f.text_field :all_sources, :class => 'ckeditor form-title', :value => version_sources(article) %>
  </p>

  <p>
    <%= f.label :all_categories, :class => 'subtitle form-content' %>
    <%= f.text_field :all_categories, :class => 'ckeditor form-title', :value => version_categories(article) %>
  </p>

  <div class="published-button subtitle">
    <%= f.label "Publish?" %> <br />
    <%= f.check_box :published %> <br />
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>


